.container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    flex-wrap: wrap;
    align-content: flex-end;
    justify-content: flex-start;
    margin: 5px;
}

.followersContainer {
    margin: 5px 0;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 40px;
    gap: 10px;
    width: fit-content;
    border-radius: 10px;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    justify-content: flex-start;

}

.followerContainer:hover {
    cursor: pointer;
    background-color: var(--background);
    color: var(--white);
}