.formulario {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.headerInputs {
  display: flex;
  gap: 10px;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
}

.message {
  margin-bottom: 15px;
}

.input {
  width: 57vw;
  max-width: 750px;
  padding: 10px;
  height: 49px;
  border-radius: 0 10px 10px 0;
  border: 1px solid var(--background);
}

.inputError {
  width: 100%;
  padding: 10px;
  height: 49px;
  border-radius: 0 10px 10px 0;
  border: 1px solid var(--wrong);
}

.inputBig {
  height: 49px;
  margin-bottom: 5px 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  align-content: center;
}

.inputIcon {
  height: 49px;
  width: 49px;
  border-radius: 10px 0 0 10px;
  display: flex;
  background-color: var(--background);
  align-items: center;
  justify-content: center;
  align-content: center;
}

.tagsContainer {
  margin-top: 20px;
}

.tagsParent {
  margin: 10px 0;
  display: flex;
  flex-direction: row;
  gap: 10px;
  flex-wrap: wrap;
  align-content: center;
  justify-content: flex-start;
  align-items: flex-start;
}

.inputmini {
  /* width: 40%; */
  padding: 10px;
  height: 49px;
  border-radius: 10px;
  border: 1px solid var(--background);
}

.buttonContainer {
  gap: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: nowrap;
  align-content: center;
  margin-top: 20px;
}

.questionsDone {
  margin-top: 20px;
  display: flex;
  gap: 10px;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
  align-content: center;
  justify-content: flex-start;
  align-items: flex-start;
}