.singupSection {
  display: flex;
  flex-direction: column;
  background-color: var(--clean-background);
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
  align-content: center;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
}

.buttonSection {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}
.buttonsSectionContainer {
  display: flex;
  width: 40%;
  gap: 10px;

  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
}
.SignInButton {
  background-color: var(--clean-background);
  outline: none;
  border: 1px solid var(--background);
  border-radius: 10px;
  padding: 6px 12px;
}
.SignInButton:hover {
  cursor: pointer;
  background-color: var(--secondary);
  color: var(--white);
}
